    {% set credential = json_decode(def.extraProperty('extendedItem').ob3) %}
    <div class="credential-page container">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                        {% if credential.image.id|default('') is not empty %}
                            <img src="{{ credential.image.id }}" class="img-fluid"  alt="Credential Image"/>
                        {% else %}
                            <img src="/static/img/certificate.svg" class="img-fluid"  alt="Credential Image"/>
                        {% endif %}
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <h1 class="text-center">
                    {{ credential.humanCode|default('') }}
                </h1>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12 text-center" style="outline: 1px solid;">
                        <h1>{{ credential.name }}</h1>
                    </div>
                </div>
                <p>{{ credential.description|default('') |sanitize_html |markdown_to_html }}</p>
                <p>
                    <strong>Last Updated:</strong> {{ def.updatedAt.format('F d, Y') }}
                </p>
                <p>
                    <strong>Achievement Type:</strong> {{ credential.achievementType|default('Achievement')|replace({'Credential - ': ''}) }}
                </p>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="text-uppercase">Earning Criteria</h3>
                        <p>
                            Recipients must complete the earning criteria to earn this badge.
                        </p>
                    </div>
                    <div class="col-sm-8">
                        {% if credential.criteria.id|default('') is not empty %}
                            <div class="pb-2">
                                <a href="{{ credential.criteria.id }}">
                                    {{ credential.criteria.id }}
                                </a>
                            </div>
                        {% endif %}

                        {{ credential.criteria.narrative|default('') |sanitize_html |markdown_to_html }}
                    </div>
                </div>
            </div>
        </div>
        {% if credential.alignment|default('') is not empty %}
            <div class="card card-default">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Alignments</h3>
                            <p>
                                The credential aligns to these frameworks and competencies.
                            </p>
                        </div>
                        <div class="col-sm-8">
                            <ul class="tree">
                                {% for alignment in credential.alignment %}
                                    <li>
                                        <i class="fa fa-bullseye"></i>
                                        {%  if alignment.targetCode|default('') is not empty %}<strong class="cred-hcs">{{ alignment.targetCode }}</strong> {% endif %}
                                        {{ alignment.targetName }}
                                        <a class="" href="{{ alignment.targetUrl }}">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                        {#
                                        {{ alignment.description|default('') }}
                                        {{ alignment.targetType|default('') }}
                                        {{ alignment.targetFramework|default('') }}
                                        #}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
