{% if closeButton is not defined %}
    {% set closeButton = 'Close' %}
{% endif %}
{% if saveButton is not defined %}
    {% set saveButton = 'Save' %}
{% endif %}
<div class="modal fade" id="{{ modalName }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ modalName }}ModalLabel">
    <div class="modal-dialog modal-xl" role="document" style="width:99%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="{{ modalName }}ModalLabel">{{ modalTitle }}</h4>
                <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modalBody %}Loading form...{% endblock %}
            </div>
            <div class="modal-footer">
                {% block modalAllButtons %}
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ closeButton }}</button>
                    {% block modalButtons %}
                        <button type="button" class="btn btn-primary btn-save">{{ saveButton }}</button>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
