{% extends 'layout.html.twig' %}

{% block title %}
    Credential Definitions
{% endblock %}

{% block body %}
    {% if is_granted('credential_def_create') %}
        <div class="float-end">
            <a href="{{ path('credential_new') }}" class="btn btn-default ms-2">Add a credential</a>
        </div>
    {% endif %}
    <div class="float-end">
        <a href="{{ path('lsdoc_index') }}" class="btn btn-default">Competency frameworks</a>
    </div>

    <h1>Credential Definitions</h1>

    <div class="credential-list">
        {% for hierarchyParent,credentials in list %}
            <details class="ms-3 my-1">
                <summary class="fw-bold">
                    {{ hierarchyParent }}
                </summary>
                <ul class="mb-0 ms-4">
                    {% for credential in credentials %}
                        <li class="my-1"><a href="{{ path('credential_show', { 'id': credential.id, 'versionId': credential.versionId }) }}">{{ credential.name }}</a></li>
                    {% endfor %}
                </ul>
            </details>
        {% endfor %}
    </div>
{% endblock %}
