{% extends 'layout.html.twig' %}

{% block title %}
    Credential Definitions
{% endblock %}

{% block body %}
    {% if is_granted('credential_def_create') %}
        <div class="pull-right">
            <a href="{{ path('credential_new') }}" class="btn btn-default ms-2">Add a credential</a>
        </div>
    {% endif %}
    <div class="pull-right">
        <a href="{{ path('lsdoc_index') }}" class="btn btn-default">Competency frameworks</a>
    </div>

    <h1>Credential Definitions</h1>

    <div id="credentialTree">
        <ul id="credentialTreeData" style="display:none;">
            {% for hierarchyParent, credentials in list %}
                <li class="folder">{{ hierarchyParent }}<ul>
                    {% for credential in credentials %}
                        <li class="salt-credential-definition-link"><a href="{{ path('credential_show', { 'id': credential.id, 'versionId': credential.versionId }) }}">{{ credential.name }}</a></li>
                    {% endfor %}
                </ul></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="module">
        $('#credentialTree').fancytree({
            activate: function(event, data){
                var node = data.node;
                if (!$.isEmptyObject(node.data)) {
                    if (undefined !== node.data.href)
                        window.location.href = node.data.href;
                }
            },
            dblclick: function(event, data) {
                // ignore double clicks
                return false;
            },
            click: function(event, data) {
                if (data.node.isFolder() && data.targetType !== 'expander') {
                    data.node.toggleExpanded();
                }
            }
        });
    </script>
{% endblock %}

{% block styles %}
    <style>
        #credentialTree ul.fancytree-container {
            border: none;
        }
    </style>
{% endblock %}
