{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ vite_entry_script_tags('credential') }}
{% endblock %}

{% block styles %}
    {{ vite_entry_link_tags('credentialcss') }}
    <style>
        .fade {
            opacity: 100;
        }
        .tab-pane.show {
        }
    </style>
{% endblock %}

{% block bodyclasses %}ob3-definer{% endblock %}
{% block body %}
    <div class="pull-right">
        <ul class="list-inline text-right">
            <li>
                <a class="btn btn-default" href="{{ path('credential_index') }}">Cancel</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    {{ form_start(form, {'attr': {'id': 'credential_definition_form'}}) }}
    <div class="container">
        {{ form_widget(form) }}
    </div>

        <div id="ob3-definer" data-achievement='{{ def }}'></div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                window.dispatchEvent(new CustomEvent('ob3-open', {'detail': {'selector': '#ob3-definer'}})); // the detail payload here is optional
                window.addEventListener('saveDefinition', (e) => {
                    document.getElementById('credential_definition_create_content').value = e.detail;
                    document.getElementById('credential_definition_form').submit(); // submit the form when the definition is saved
                })
            })
        </script>
    {{ form_end(form) }}

{% endblock %}

{% block title %}
    Create a new credential
{% endblock %}
