{% extends 'layout.html.twig' %}

{% block title %}
    {{ def.content.name|default('Credential') }}
{% endblock %}

{% block body %}
    <div class="float-end">
        {% if isCurrentVersion and is_granted('credential_def_edit', credential) %}
            <ul class="btn-group">
                <a href="{{ path('credential_edit', {'id': credential.id.toBase58, 'versionId': credential.lastVersion.id.toBase58}) }}" class="btn btn-default">Edit</a>
                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% if def.publishedAt is null %}
                        <li><a href="{{ path('credential_edit', {'id': credential.id.toBase58, 'versionId': credential.lastVersion.id.toBase58}) }}" class="dropdown-item">Edit</a></li>
                    {% endif %}
                    {% if def.publishedAt is not null and def.deprecatedAt is null %}
                        <li>
                            <a href="{{ path('credential_edit', {'id': credential.id.toBase58, 'versionId': credential.lastVersion.id.toBase58}) }}" class="dropdown-item">Edit new version</a>
                        </li>
                        <li>
                            {{ form_start(deprecateForm, {'attr': {'class': 'd-inline-block-not-for-dropdown'}}) }}
                                <input class="text-danger dropdown-item" type="submit" value="Deprecate">
                            {{ form_end(deprecateForm) }}
                        </li>
                    {% endif %}
                    {% if def.deprecatedAt is not null %}
                        <li>
                            <a href="{{ path('credential_edit', {'id': credential.id.toBase58, 'versionId': credential.lastVersion.id.toBase58}) }}" class="dropdown-item">Edit new version</a>
                        </li>
                    {% endif %}
                        <li>
                        <a href="{{ path('credential_hierarchy', {'id': credential.id.toBase58}) }}" class="dropdown-item">Change collection</a>
                        </li>
                    {% if is_granted('credential_def_edit_all') %}
                        <li>
                            <a href="{{ path('credential_organization', {'id': credential.id.toBase58}) }}" class="dropdown-item">Change owning organization</a>
                        </li>
                    {% endif %}
                    {% if def.publishedAt is null %}
                        <li>
                            {{ form_start(publishForm, {'attr': {'class': 'd-inline-block-not-for-dropdown'}}) }}
                            <input class="dropdown-item" type="submit" value="Publish">
                            {{ form_end(publishForm) }}
                        </li>
                    {% endif %}
                </ul>
            </ul>
        {% endif %}
        <a href="{{ path('credential_index') }}" class="btn btn-secondary ms-2">View list</a>
    </div>
    <div class="clearfix mb-3"></div>

    {{ include('credential/_credential_view.html.twig', {'def':def, 'credential':credential}) }}

    {% if credential.versions|length > 1 %}
        <hr>
        <h3>Other Versions</h3>
        {% for version in credential.versions %}
            {% if version.id.toBase58 is same as def.id.toBase58 %}
                <strong>This</strong> version
            {% else %}
                <a href="{{ path('credential_show', {'id': credential.id.toBase58, 'versionId': version.id.toBase58}) }}">Version {{ version.definitionVersion }}</a>
            {% endif %}
            {% if version.publishedAt is not null %}Published: {{ version.publishedAt.format('Y-M-d') |default('Not published') }}{% endif %}
            {% if version.deprecatedAt is not null %}Deprecated: {{ version.deprecatedAt.format('Y-M-d') |default('Not deprecated') }}{% endif %}
            <br />
        {% endfor %}
    {% endif %}
{% endblock %}

